.testimonial-card2-testimonial-card {
  width: 800px;
  height: 600px;
  display: flex;  
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card2-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.testimonial-card2-image {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card2-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card2-text {
  width: 100%;
  font-size: 36px;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.testimonial-card2-text1 {
  font-size: 24px;
  align-self: flex-start;
}
.testimonial-card2-icon {
  width: var(--dl-size-size-small);
  align-self: flex-end;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card2-text2 {
  color: var(--dl-color-gray-500);
  font-size: 24px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card2-root-class-name1 {
  align-self: flex-start;
}
.testimonial-card2-root-class-name2 {
  align-self: flex-start;
}
@media(max-width: 767px) {
  .testimonial-card2-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .testimonial-card2-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .testimonial-card2-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card2-text2 {
    text-align: left;
  }
}