{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <link href="{% static 'css/courses.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <div class="state-police-container">
      <div class="state-police-container1">
        <div class="state-police-container2">
          <div class="state-police-container3">
            <span class="state-police-text">{{title}}</span>
          </div>
        </div>
        <div class="state-police-banner">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1pbmltYWxpc20lMjB5ZWxsb3d8ZW58MHx8fHwxNjI2MTg0NjU3&amp;ixlib=rb-1.2.1&amp;w=1000"
            class="state-police-image"
          />
          <div class="state-police-container4">
            <h1 class="state-police-text1">The Origin of vivekananda</h1>
            <span class="state-police-text2">
              Vivekananda Degree College was established in 2005 to promote
              quality, modem and technical education attend to the needs
              of changing times under the esteemed management of the Noble Group
              of Modern institutions. The college strives to provide
              opportunities to students to realize their potential in curricular
              and extra curricular activities and actualize their aspirations in
              life. Our college is named after a great ascetic Swamy Vivekananda,
              who rocked entire world with his austerity and ever inspiring
              sayings which still echo in the deep comers of the hearts of the
              people
            </span>
          </div>
        </div>
        <div class="state-police-container5">
          <div class="state-police-container6">
            <span class="state-police-text3">{{title}}</span>
          </div>
        </div>
        <div class="state-police-container7">
          {% for i in Item %}
          <Criteria>
            <div class="criteria-container criteria-root-class-name">
              <div class="criteria-pricing">
                <div class="criteria-container1">
                  <div class="criteria-pricing-card">
                    <span class="criteria-text">{{i.Category}}</span>
                    <div class="criteria-container2">
                      <span class="criteria-text01">Physical standards</span>
                      <div class="criteria-container3">
                        <span class="criteria-text02">Age limit {{i.Age_min}}-{{i.Age_max}} Years</span>
                        <span class="criteria-text03">
                          Min Qualification - {{i.Qualification}} {% if i.Qualification_Percentage != '0' %}- {{i.Qualification_Percentage}}% {% endif %}
                        </span>
                        <span class="criteria-text04">Height - {{i.Health}}cm</span>
                        <span class="criteria-text05">Chest Expansion - {{i.Chest_Expansion}}cm</span>
                      </div>
                    </div>
                    <div class="criteria-container4">
                      <span class="criteria-text06">Medical  standards</span>
                      <div class="criteria-container5">
                        <span class="criteria-text07">
                          Without glasses {{i.Without_glass}}
                        </span>
                        <span class="criteria-text08">
                          With glasses {{i.With_glass}}
                        </span>
                        <span class="criteria-text09">
                          Color Vision - {{i.Color}}
                        </span>
                      </div>
                    </div>
                    <div class="criteria-container6">
                      <button class="criteria-button button">Apply now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </Criteria>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}