<div>
  <link href="./logo.css" rel="stylesheet" />
  <div class="logo-logo">
    <img
      alt="image"
      src="{% static 'media/base/gda_logo.png' %}"
      class="logo-image"
    />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <div class="logo-title">
      <span class="logo-text">
        <span>GOWTHAMI JUNIOR COLLEGE &amp; DEFENCE ACADEMY</span>
        <br />
      </span>
      <span class="logo-text3">
        <span>Defence College | Junior Colleges | Degree Colleges</span>
        <br />
      </span>
      <span class="logo-text6">
        <span>Recognized by Govt of Telangana</span>
        <br />
      </span>
    </div>
  </div>
</div>
