{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/document.css' %}">
<br><br><br><br><br><br>
<body>
    <div class="title">
        <a href="#" class="btn"><span>Syllabus</span></a>
    </div>
    <div class="ditems">
        <div class="ditem">
            <p>College brochure</p>
            <a href="download.png" download><img src="download.png" width="40px" height="40px"></a>
        </div>
        <div class="ditem">
            <p>Admission Banner</p>
            <a href="download.png" download><img src="download.png" width="40px" height="40px"></a>
        </div>
        <div class="ditem">
            <p>Booklet</p>
            <a href="download.png" download><img src="download.png" width="40px" height="40px"></a>
        </div>
    </div>
</body>
<br><br><br><br><br><br>
{% endblock %}